<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="title">Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title" size="large">RegistrAPP</ion-title>
    <p>Bienvenido</p>
    <p class="subtitle">Inicia sesión para acceder a tu cuenta</p>
  </div>
  <form [formGroup]="ionicForm"  novalidate>
    <div class="ion-padding" [@slideInFromLeft]>

      <ion-item>
        <ion-input placeholder="Usuario" formControlName="email" class="input" [@slideInFromLeft]/>
        <ion-icon name="person-outline" style="color: #d0b700;"></ion-icon>
        
      </ion-item>
    
      <div style="padding-top: -26px;padding-bottom: 16px;" *ngIf="this.ionicForm.controls?.['email'].touched && this.ionicForm.controls?.['email'].invalid">
          <ion-text *ngIf="errorControl.email.errors?.required" class="errorInput" color="danger">Email es Requerido.</ion-text>
          <ion-text *ngIf="errorControl.email.errors?.pattern" class="errorInput" color="danger">Ingresa un Email correcto.</ion-text>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Contraseña" formControlName="password" class="input" />
        <ion-icon name="lock-closed-outline" style="color: #d0b700;"></ion-icon>
      </ion-item>
      <div style="padding-top: -26px;padding-bottom: 16px;" *ngIf="this.ionicForm.controls?.['password'].touched && this.ionicForm.controls?.['password'].invalid">
          <ion-text *ngIf="errorControl.password.errors?.required" class="errorInput" color="danger">password is required.</ion-text>
          <ion-text *ngIf="errorControl.password.errors?.pattern" class="errorInput"  color="danger">Password Must contain at least one character</ion-text>
      </div>
    
      <div class="forgotpassword">
        <p>¿Problemas con tu contraseña? <br> <a [routerLink]="['/forgot-password']" style="color: #131fff">Restablecer contraseña</a></p>
      
      </div>

    </div>
   
    



    <div class="signupLink">
      <p class="p">¿No tienes Cuenta? <a [routerLink]="['/signup']" style="color: #131fff">Registrarse</a></p>
    </div>

    <ion-fab *ngIf="ionicForm.valid" vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button  type="submit" (click)="login()" >
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>