#container {
  text-align: center;
  margin-bottom: 50px;
  
  
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.row{
  text-align: center;
}


.contenedorMain {
  background: url(/assets/slide1.jpg); /* Ruta relativa a tu archivo CSS */
  background-size: cover; /* Ajustar el tamaño de la imagen */
  background-position: center center; /* Posición de la imagen */
  width: 100%;
  height: 100%;
}


